.btn{
	cursor: pointer;
    -webkit-appearance: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: $white;
    font-family: $main-font-bold;
    text-transform: uppercase;
    border: 1px solid $white;
    @include padding(0.8em 2.4em 0.6em);
    border-radius: 10em;
    position: relative;
    outline: 0;
    z-index: 0;
    white-space: nowrap;
    @include transition (all 0.5s ease);
    overflow: hidden;
    letter-spacing: 2px;
    &:after {
	    background:$white;
	    content: '';
	    @include size(0 100%);
	    @include position(absolute,0 null null 0);
	    @include transition (all 0.3s);
	    z-index: -1;
	}
    &:hover{
	   &:after{
	   		width: 100%;
	   }
    }
}


.tranglebutton
{
	text-decoration: none;
	.top{
		margin-right: -42px;
	    padding-bottom: 42px;
	    @include media($desktop-lg-max){
			padding-bottom: 15px;
		}
	    margin-left: -42px;
		&:after,&:before{
			content:'';
			width: 22px;
    		height: 21px;
		}
		&:after{
			@include background(images/svg,left_top,svg, no-repeat,0 , 0);
			float: left;
		}
		&:before{
			@include background(images/svg,left_top,svg, no-repeat,0 , 0);
			float: right;
			transform: rotate(90deg);
		}
	}
	.bottom{
		margin-right: -42px;
    	padding-top: 24px;
    	margin-left: -42px;
    	@include media($desktop-lg-max){
			padding-top: 12px;
		}
		&:after,&:before{
			content:'';
			width: 22px;
    		height: 21px;
		}
		&:after{
			@include background(images/svg,right_top,svg, no-repeat,0 , 0);
			float: left;
		}
		&:before{
			@include background(images/svg,right_top,svg, no-repeat,0 , 0);
			float: right;
    		transform: rotate(-90deg);
		}
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 3px;
	background: #e11f26;
	color: $white;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: #e4e4e4;
	}

	&:active,
	&:focus {
		border-color: #e4e4e4;
	}
}