.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    text-align: center;
    a {
      padding: 10px;
      width: 4px;
      height: 4px;
      display: block;
      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: rgba(0, 0, 0, 0.85);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
      }
      &.active:before {
        width: 10px;
        height: 10px;
        background: none;
        border: 1px solid black;
        margin-top: -4px;
        left: 8px;
      }
    }
  }
}

.disabled-onepage-scroll {
  overflow-y: auto !important;
  .wrapper {
    overflow: auto;
  }
  .onepage-wrapper {
    .section {
      position: relative !important;
      top: auto !important;
      left: auto !important;
    }
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important;
    min-height: 100%;
  }
  .onepage-pagination {
    display: none;
  }
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

.sidebox {
	position: absolute;
	left: 60px;
	top: 50%;
	margin-top: -120px;
	list-style: none;
	@include media($mobile-lg){
		left: 20px;
	}
	@include media($mobile-md){
		display:none;
	}
	li {
	  margin-bottom: 13px;
	  a {
		background: #d5d5d5;
		padding: 8px;
		display: block;
		border-radius: 50%;
		&:after{
			@include size(rem(15), rem(14));
			display: block;
			@include background(svg,icon,svg, no-repeat);
			content:'';
		}
		&.active{
			background: $mailcolor;
		}
		&:hover{
			background: $mailcolor;
		  }
	  }
	}
}