.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    text-align: center;
    a {
      padding: 10px;
      width: 4px;
      height: 4px;
      display: block;
      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: rgba(0, 0, 0, 0.85);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
      }
      &.active:before {
        width: 10px;
        height: 10px;
        background: none;
        border: 1px solid black;
        margin-top: -4px;
        left: 8px;
      }
    }
  }
}

.disabled-onepage-scroll {
  overflow-y: auto !important;
  .wrapper {
    overflow: auto;
  }
  .onepage-wrapper {
    .section {
      position: relative !important;
      top: auto !important;
      left: auto !important;
    }
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important;
    min-height: 100%;
  }
  .onepage-pagination {
    display: none;
  }
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

#pp-nav {
	position: absolute;
	left: 60px;
	top: 50%;
	margin-top: -120px;
	list-style: none;
  @include media($desktop-lg-max){
    left:30px;
  }
	@include media($mobile-lg){
		left: 20px;
	}
	@include media($mobile-lg){
		display:none;
	}
	li {
	  margin-bottom: 13px;
	  a {
		background: #d5d5d5;
		padding: 8px;
		display: block;
		border-radius: 50%;
		&:after{
			@include size(rem(15), rem(14));
			display: block;
			@include background(svg,icon,svg, no-repeat);
			content:'';
		}
		&.active{
			background: $mailcolor;
		}
		&:hover{
			background: $mailcolor;
		  }
	  }
	}
}
.pp-section {
  height: 100%;
  position: absolute;
  width: 100%;
}

.pp-easing {
  -webkit-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
}

.pp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
  &.bottom {
    bottom: 17px;
  }
  &.top {
    top: 17px;
  }
}

#pp-nav ul {
  margin: 0;
  padding: 0;
  list-style:none;
  li{
    position: relative;
  }
}

.pp-slidesNav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
    display: inline-block;
    a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .active span {
    background: #333;
  }
  span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
  }
}

%pp-tooltip {
  position: absolute;
  top: 2px;
  color: #fff;
  font-size: 13px;
  white-space: nowrap;
  background: #4971f5;
  padding: 6px 15px;
  border-radius: 5px;
  &.left {
    left: 40px;
  }
  &:before{
    content: '';
    width: 20px;
    height: 15px;
    float: left;
    position: absolute;
    left: -18px;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #4971f5;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    background: none;
    margin-top: 0px;
  }
}

.pp-scrollable {
  overflow-y: scroll;
  height: 100%;
}