.blog {
	overflow: inherit !important;
	header {
	    height: auto;
	    position: fixed;
	    padding-bottom:20px;
	    background: #fff;
	}
	footer {
	    position: fixed;
	    bottom: 0;
	    background: #fff;
	    padding-bottom: 40px;
	    padding-top: 11px;
	}
	#wrapper {
		@include size(100%);
		z-index: -1;
		@include position(absolute);
		background-color:$white;
		.cloudbox {
			position: absolute;
		    top: 10%;
		    left: 0;
		    height: 228px;
		    width: 100%;
		    overflow: hidden;
		    z-index: -1;
			.cloud-loop{
				@include background(images,strip,png, repeat);
				-moz-animation: MOVE-BG 50s infinite linear;
				-webkit-animation: MOVE-BG 50s infinite linear;
				animation: MOVE-BG 50s infinite linear;
				position: absolute;
			    right: -1600px;
			    left: 0;
			    bottom: 0;
			    top: 0;
			}
		}
		@include media($mobile-md){
			height: auto;			
			position: inherit;
		}
		.content-page {
			@include size(100%);
			display: table;
		}
		.pp-tableCell{
			@include media($desktop-md-mid){
				display: table;
				width: 100%;
			}
		}
		.page{
			display: table-cell;
			vertical-align: middle;
			
		}
		.contentbox {
			@include outer-container($king-ghidorah);
			text-align: left;
			@include margin(159px null 159px null );
			@include media($desktop-lg-large){
				@include outer-container($gipsy-danger);
				@include margin( 159px null null null );
			}
			@include media($desktop-lg-max){
				@include outer-container($clover);
				@include margin( 150px null null null );
			}
			@include media($desktop-mds){
				@include outer-container($voltron);
			}
			@include media($desktop-xsm){
				@include outer-container($megatron);
			}
			@include media($desktop-xsm){
				@include outer-container($megatron);
			}
			@include media($mobile-lg){
				max-width: 85%;
			}
			.min-cont {
				@include size(60%, null);
   				float: left;
   				@include media($mobile-lg){
					@include size(100%, null);
				}
				.content {
					h2 {
						
						a{
							color: $mailcolor;
							@include font-size(32);
							text-align: left;
							font-weight: 600;
							letter-spacing: 2px;
							@include media($milky-way-large){
								@include font-size(32);
								margin-left: 0;
							}
							@include media($desktop-mds){
								@include font-size(32);
							}
							@include media($desktop-lg-wh){
								@include font-size(28);
							}
							@include media($desktop-md-mid){
								@include font-size(26);
							}
							@include media($mobile-lg){
								@include font-size(24);
							}
							@include media($mobile-slg){
								font-size: 20px;
								letter-spacing: 0px;
							}
							@include media($mobile-xsm){
								font-size: 20px;
								letter-spacing: 0px;
							}
							&:hover{
								color:$dark-blue;
							}
						}
					}
					p{
						@include font-size(18);
						line-height: 24px;
						@include media($milky-way-large){
							@include font-size(16);
							line-height: 20px;
						}
					}
				}
			}
			.get_sidebar {
				@extend %get_sidebar;
			}
			.box{
			    @include size(100%,null);
			}
		}
	}
	footer {
		section{
			color:$mailcolor;
		}
		.footernav{
			a{
				color:$mailcolor;
			}
		}
	}
}

