body.contact-us{
	@include media($mobile-slg){
		overflow: scroll !important;
		overflow-x: hidden !important;
	}
	footer{
		@include media($mobile-slg){
			position: relative;
		}
		section{
			@include media($mobile-slg){
				color:$black;
			}
			a{
				@include media($mobile-slg){
					color:$black;
				}
			}
		}
	}
}

.contact {
	@include background(images,contact-us,jpg, no-repeat,center, center);
	background-color:#fff;
	@include media($short-xxlg22){
		background-size: cover;
	}
	@include media($short-xxxlg){
		background-size: cover;
	}
	@include media($mobile-md){
		padding: 70px 40px 40px 40px;
	}
	@include media($mobile-smd){
		padding-bottom: 80px;
		padding-top: 98px;
	}
	#wrapper {
		@include outer-container($godzilla);
		@include size(100%, 100vh);
		@include margin( 0px null null null );
		display:table;
		@include media($milky-way-large){
			@include outer-container($kaiju);
		}
		@include media($desktop-lg-large) {
			@include outer-container($king-ghidorah);	
		}
		@include media($desktop-md-mid) {
			@include outer-container($clover);	
		}
		@include media($desktop-md){
			@include outer-container($voltron);	
		}
		.main{
			display:table-cell;
			vertical-align: middle;
			.contentbox{
				.contactdetail{
					@include size(30%,null);
					float: left;
					margin-top: 18px;
					@include media($mobile-slg){
						@include size(100%,null);
						text-align: center;
					}
					h2{
						@include font-size(76);
						color:$mailcolor;
						@include margin(0 null 50px null);
						@include media($desktop-lg-large) {
							margin-bottom: 26px;
							@include font-size(65);
						}
						@include media($mobile-slg){
							@include font-size(35);
						}
						@include media($mobile-smd){
							@include font-size(25);	
						}
					}
					address{
						font-family: $main-font;
						font-style: normal;
						font-size: 20px;
    					line-height: 25px;
    					padding-left: 53px;	
						strong{
							font-weight: bold;
						}
						@include media($desktop-md-mid) {
							@include font-size(16);
    						line-height: 22px;
						}
						@include media($mobile-slg){
							font-size: 14px;
	    					line-height: 23px;
	    					padding: 0 2%;
	    					@include size(33%,null);
							float: left;
						}
						@include media($mobile-smd){
							@include size(100%,null);
							float: none;
						}
					}
				}
				.contact_form{
					@include size(51%,null);
					float: right;
					@include media($mobile-slg){
						@include size(100%,null);
						text-align: center;
					}
					strong{
						@include font-size(26);
						font-family: $main-font;
						font-weight: normal;
						@include media($desktop-md-mid) {
							@include font-size(16);
						}
					}
					.form{
						margin-top: 9px;
						background: rgba(28, 97, 202, 0.34);
			 			padding: 63px 84px 90px;
			 			@include media($milky-way-large){
							padding: 40px;
						}
						@include media($desktop-md){
							padding: 26px;
						}
			 			form{
			 				@include position(relative);
			 				input{
			 					@include media($mobile-slg){
									@include size(100%,null);
									font-size: 13px;
								}
			 				}

			 			}
			 			input[type="submit"]{
			 				position: absolute;
			 				@extend %btnlarge;
			 				margin-left: -23px;
			 				margin-top: 56px;
			 				@include media($milky-way-large){
								margin-top: 10px;
							}
							@include media($desktop-lg-large) {
								margin-left: 0px;
								padding: 20px 33px;
								font-size: 19px;
							}
							@include media($desktop-md-mid) {
								width: 100% !important;
							    margin-bottom: 8px;
							   	padding: 15px;
							    position: relative;
							    margin-top: 0;
							}

			 				&.black{
			 					background:#333333;
			 					margin-right: -23px;
			 					right: 0;
			 					@include media($desktop-lg-large) {
									margin-right: 0px;
									margin-top: 8px;
								}
								@include media($desktop-md-mid) {
									position: absolute;
								}
			 				}
			 			}
					}
				}
			}
		}
	}
	
}

