.download_app {
	#wrapper {
		@include size(100%);
		z-index: -1;
		@include position(absolute);
		overflow: hidden;
		@include media($mobile-md){
			height: auto;			
			position: inherit;
		}
		.main {
			@include size(100%);
			display: table;
		}
		.pp-tableCell{
			@include media($desktop-md-mid){
				display: table;
				width: 100%;
			}
		}
		@extend %download_app;
	}
}

