.features {
	#wrapper {
		@include size(100%);
		z-index: -1;
		@include position(absolute);
		overflow: hidden;
		@include media($mobile-md){
			height: auto;			
			position: inherit;
		}
		.main {
			@include size(100%);
		}
		.pp-tableCell{
			@include size(100%);
		}
		.pages.pp-section{
			background: $white;
			.contentbox{
				@include size(100%);
				display: table;
				@include background(images,box,png, no-repeat,right, top);
				@include media($desktop-lg-max){
					background-size: contain;
				}
				@include media($short-xlg){
					background-size: 50%;	
				}
				@include media($mobile-slg){
					background:$white;
				}
				.middle{
					@include size(100%, null);
				    display: table-cell;
   					vertical-align: middle;
   					@include media($mobile-slg){
						padding: 0% 10%;
					}
					.content{
						width: 46%;
					    padding-left: 9%;
					    float: left;
					    @include media($milky-way-large) {
							padding-left: 9%;
						}
						@include media($mobile-slg){
							width: 100%;
						    padding: 0;
						    float: left;
						    text-align: center;
						}
						span{
							color: #e5e5e5;
							font-size: 180px;
							@include media($milky-way-large) {
								font-size: 135px;
							}
							@include media($desktop-lg-max){
								font-size: 125px;
							}
							@include media($desktop-mds){
								font-size: 100px;	
							}
							@include media($mobile-slg){
								font-size: 60px;	
							}
						}
						h2{
							margin-top: -23px;
							color: #4870f5;
							font-size: 65px;
							text-transform: uppercase;
							font-weight: 400;
							margin-bottom: 0;
							letter-spacing: 0;
							@include media($milky-way-large) {
								font-size: 50px;
							}
							@include media($desktop-lg-max){
								font-size: 40px;
							}
							@include media($desktop-mds){
								font-size: 30px;	
							}
							@include media($mobile-slg){
								font-size: 22px;	
								margin-top: -11px;
							}
						}
						p{
							font-size: 30px;
							color: #373737;
							margin-top: 12px;
							@include media($milky-way-large) {
								font-size: 23px;
							}
							@include media($desktop-lg-max){
								font-size: 18px;
							}
							@include media($desktop-mds){
								font-size: 16px;
							}
							@include media($mobile-slg){
								font-size: 16px;	
							}
						}
						ul{
							margin: 55px 0 0 55px;
						    font-size: 23px;
						    list-style: none;
						    @include media($milky-way-large) {
								font-size: 18px;
								margin: 40px 0 0 40px;
							}
							@include media($desktop-lg-max){
								font-size: 16px;
								margin: 20px 0 0 40px;
							}
							@include media($desktop-mds){
								font-size: 14px;
							}
							@include media($mobile-slg){
								font-size: 13px;
								margin: 0;	
							}
							li{
							    margin-bottom: 15px;
    							padding-right: -32px;
							   	i{
							   		color: #4870f5;
							   		margin-right: 19px;
							   		margin-left: -27px;
							   		@include media($desktop-mds){
		    							margin-left:0px;
		    							margin-right: 9px;
									}
							   	}
							   	@include media($mobile-slg){
									margin-bottom: 10px;
								}
							}
						}
					}
					.circle{
						width: 54%;
						float: right;
						text-align: right;
    					padding-right: 9%;
    					padding-top: 207px;
    					@include media($milky-way-large) {
							padding-top: 120px;
						}
						
						@include media($mobile-slg){
							width: 62%;
						    padding: 0;
						    float: none;
						    margin: 0 auto;
						}
						img.graphic {
						    border: 28px solid #dcdcdc;
    						border-radius: 33px;
    						@include media($desktop-lg-max){
								border:18px solid #dcdcdc;
								border-radius: 20px;
							}
						}
					}
				}
				&.launch{
					@include background(images,box-large,png, no-repeat,right, top);
					.middle{
						display: block;
    					height: 100%;
						.content{
							width: 44%;
							height: 100%;
    						display: table;

    						.centercontent{
    							display: table-cell;
    							vertical-align: middle;
    						}
							h2 {
								font-size: 72px;
	    						text-transform: capitalize;
							}
						}
						.circle{
							width: 54%;
						    padding-top: 0;
						    padding-right: 0;
						    text-align: left;
    						padding-left: 9%;
						    img.graphic {
						    	border:0;
    							border-radius:0;
						    }
						    .rightbtn{
						    	position: relative;
							    right: -7px;
							    float: right;
							    margin-top: -172px;
							    font-family: $main-font-thin;
						    	span{
					    			
					    			color:$white;
								    background:$mailcolor;
								    float: right;
								    margin-right: 7px;
								    padding:30px 29px 26px 29px;
						    		img{
						    			@include size(11px, 21px);
						    		}
						    		&.txt{
					    				padding: 16px 29px;
										font-size: 21px;
										width: 300px;
									    text-align: right;
									    font-weight: 500;
									    line-height: 25px;
						    		}
						    	}
						    }
						}
					}
				}
			}
			div.contentbox.li-content{
				@include background(images,box-l,png, no-repeat,left, top);
				@include media($desktop-lg-max){
					background-size: contain;
				}
				@include media($short-xlg){
					background-size: 50%;	
				}
				@include media($mobile-slg){
					background:$white;
				}
				div.content{
					padding-left: 0%;
				    padding-right: 11%;
				    float: right;
				    text-align: right;
				    @include media($mobile-slg){
						width: 100%;
					    padding: 0;
					    float: left;
					    text-align: center;
					}
				    ul{
				    	margin: 55px 55px 0 0;
				    	@include media($milky-way-large) {
							margin: 40px 40px 0 0 ;
						}
						@include media($desktop-lg-max){
							margin: 20px 40px 0 0 ;
						}
						@include media($desktop-mds){
							font-size: 14px;
							margin:0;
						}
				    	li{
					    	i{
					    		margin-right: -27px;
	    						transform: rotate(180deg);
	    						float: right;
	    						margin-left: 19px;
	    						@include media($desktop-mds){
	    							margin-left: 0px;
								    margin-right: 9px;
								    float: none;
								    transform: rotate(0deg);
								}
					    	}
					    }
				    }
				}
				.circle{
					float: left;
					text-align: left;
					padding-left: 9%;
					padding-right: 0;
					@include media($mobile-slg){
						width: 62%;
					    padding: 0;
					    float: none;
					    margin: 0 auto;
					}
				}
			}
		}
	}
	.pp-tooltip{
		@extend %pp-tooltip;
	}
}

