.home {
	#wrapper {
		@include size(100%);
		z-index: -1;
		@include position(absolute);
		overflow: hidden;
		.main {
			@include size(100%);
		}
		@include background(images,strip,png, no-repeat,69%, 90px);
		.contentbox {
			@include outer-container($king-ghidorah);
			text-align: center;
			@include margin( rem(246) null null null );
			 h1 {
				color: $mailcolor;
				font-size: rem(65);
				text-align: left;
				margin-left: -11%;
				font-weight: 600;
			}
			.imagecenter {
				margin-top: rem(92);
			}
		}
		.page2 {
			@include background(images,bg2,jpg, no-repeat,center, center);
			.contentbox {
				@include outer-container($clover);
				.comment {
					@include position(relative);
					p{
						font-size:rem(50);
						padding: 0 14%;
						line-height: rem(50);
						margin-bottom: rem(40);
					}
					span {
						font-size:rem(30);
						font-family:$main-font;
					}
					&:after,&:before{
						@include position(absolute, $top:0);
						@include size(65px, 53px);
						@include background(images,comment,png, no-repeat,0, 0,cover);
					}
					&:after{
						content:'';
						left:0;
					}
					&:before{
						content:'';
						right:0;
						@include background(images,comment_r,png, no-repeat,0, 0,cover);
					}
				}
				.intro_section {
					margint-top:rem(50);
					.box{
						@include size(32%, null);
						float: left;
						font-size:rem(34);
						padding-right: 3%;
						margin-top: rem(40);
						ul{
							text-align: right;
							list-style:none;
							li{
								color: $grey;
								margin-bottom: 15px;
								list-style:none;
								font-family:$main-font;
							}
						}
						&:nth-child(2) {
							font-size:rem(17);
							@include size(68%, null);
							padding:3% 5%;
							box-sizing: border-box;
							float: left;
							text-align: left;
							@include border-right-radius(38px);
							margin-top: rem(0);
							@include border-left-radius(38px);
						}
						&.whitebg {
							background:$white;
						}
					}
				}
			}
		}
		.page3{
			@include background(images,bg2,jpg, no-repeat,center, center);
			&:after{
				@include background(images,right-row,png, no-repeat,center, center);
				content:'';
				content: '';
				position: absolute;
				@include size(291px, 122px);
				@include position(absolute,$top:25%, $right:0);
			}
			&:before{
				@include background(images,left-arrow,png, no-repeat,center, center);
				content:'';
				content: '';
				position: absolute;
				@include size(211px, 53px);
				@include position(absolute,$bottom:16%, $left:0 );
			}
			.contentbox {
				@include outer-container($king-ghidorah);
				@include margin( rem(160) null null null );
				h3 {
					font-size:rem(76);
					color: $mailcolor;
					font-family:$main-font;
					margin-bottom:rem(12);
					font-weight: 200;
					letter-spacing: 0;
					margin-top:rem(0);
				}
				span{
					font-size:rem(30);
					margin-bottom:rem(50);
					font-family:$main-font;
					display: block;
				}
				.service {
					display: inline-block;
					.box {
						@include size(26%, null);
						margin-right:11%;
						float: left;
						position: relative;
						i{
							img{
								padding: rem(40) 0;
							}
							&:after {
								@include background(images,round-circle,png, no-repeat,center, center);
								content:'';
								@include size(193px, 200px);
								display: block;
								@include position(absolute, $left:50%, $top:0);
								margin-left: -98px;
							}
						}
						h4{
							@include background(images,shadowbg,png, no-repeat,center, center);
							color:$light-grey;
							@include font-size(30);
							font-family:$main-font-bolder;
							padding: 19px;
							padding: 23px 32px 33px 25px;
							text-transform: uppercase;
							letter-spacing: 0;
							margin-bottom: 0;
						}
						p{
							font-size:rem(23);
							letter-spacing:ren(26);
							color:$light-black;
						}
						&:nth-child(3) {
							margin-right:0%;
							color:$light-black;
						}
					}
				}
				.largetxt {
					margin-top: rem(60);
					@extend %txtbtn;
					display: block;
				}
			}
		}
		.page4 {
			@include background(images,bg3,jpg, no-repeat,center, center);
			.contentbox {
				@include outer-container($king-ghidorah);
				@include size(100%, 100%);
				@include margin( 0px null null null );
				.manageleads{
					vertical-align: middle;
					display: table-cell;
					
					.imgbox {
						float:left;
					}
					.desciption {
						@include size(63%, null);
						float:right;
						color: $white;
						text-align: left;
						h3 {
							@include font-size(72);
							line-height:rem(88);
							font-family:$main-font;
							font-weight: normal;
							letter-spacing: 0px;
							margin-bottom: 0;
							margin-top: rem(129);
						}
						p {
							@include font-size(21);
							line-height:rem(33);
							margin-bottom: rem(40);
							margin-top: rem(32);
						}
						a {
							margin-right:rem(31);
						}
					}
				}

			}
		}
		.page5 {
			@include background(images,bg4,jpg, no-repeat,center, center);
			.contentbox {
				@include outer-container($king-ghidorah);
				@include size(100%, 100%);
				@include margin( 0px null null null );
				section{
					vertical-align: middle;
					display: table-cell;
				}
				.testimonials {
					@include position(relative);
					&:after,&:before{
						@include position(absolute, $top:29px);
						@include size(65px, 53px);
						@include background(images,comment,png, no-repeat,0, 0,cover);
					}
					&:after{
						content:'';
						left:-150px;
					}
					&:before{
						content:'';
						right:-150px;
						@include background(images,comment_r,png, no-repeat,0, 0,cover);
					}
				 li{
					list-style:none;
					@include background(images,testimonials_bg,png, no-repeat,left, bottom);
					@include size(47%, null);
					float: left;
					text-align: left;
					padding-bottom: 127px;
					padding-left: 40px;
					margin-right: 6%;
					p{
						@include font-size(30);
						line-height: rem(45);
						margin-top: 19px;
					}
					span {
						@include font-size(30);
						color:$mailcolor;
						@include padding(null null null null);
						color: $mailcolor;
						text-transform: uppercase;
					}
					em {
						@include font-size(21);
						display: block;
					}
					&:nth-child(2) {
						margin-right: 0%;
					}
				 }
				}
				.calltoaction {
					margin-top:rem(40);
					margin-left: -10%;
					float: left;
					h3,span{
						@include font-size(32);
						text-transform: uppercase;
						text-align: left;
						letter-spacing: -1.5px;
						font-weight:100;
						margin-bottom: 0;
						float: left;
					}
					span{
						color:$mailcolor;
						font-family:$main-font;
					}
					p{
						margin-top:rem(25);
						float: left;
						text-align: left;
						@include font-size(20);
						width: 74%;
					}
					a{
						@extend %btnsmall;
						float:right;
						margin-top: rem(24);
						
					}
				}
			}	
		}
		.footer {
			@extend %footer;
		}
	}
	&.viewing-page-6 {
		footer {
			section{
				color:$white;
			}
			.footernav{
				a{
					color:$white;
				}
			}
		}
	}
}
