
.home {
	background: url(../images/strip.png) no-repeat 69% 90px;
}

.home .contentbox {
	max-width: 1200px;
	text-align: center;
	margin: 112px auto;
}

.home .contentbox h1 {
	color: #4870f5;
	font-size: 62px;
	text-align: left;
	font-weight: 500;
	margin-left: -11%;
}

.home .contentbox .imagecenter {
	margin-top: 71px;
}

.home .contentbox .imagecenter img {
}