body.insurance {
	footer{
		section{
			@include media($mobile-slg){
				color:$black;
			}
			a{
				@include media($mobile-slg){
					color:$black;
				}
			}
		}
	}
}

.insurance {
	#wrapper {
		@include size(100%);
		z-index: -1;
		@include position(absolute);
		overflow: hidden;
		@include media($mobile-md){
			height: auto;			
			position: inherit;
		}
		.main {
			@include size(100%);
		}
		.pp-tableCell{
			display: table;
			width: 100%;
			@include media($desktop-md-mid){
				display: table;
				width: 100%;
			}
		}
		.page1.pp-section{
			background-color:#fff;
			@include media($mobile-slg){
				background-color: #f4f7fc; 
			}
			.middle{
				display: block;
				height: 100%;
				.content{
					width: 50%;
					height: 100%;
					display: table;
					@include media($milky-way-large){
						width: 48%;
					}
					@include media($mobile-slg){
						width: 100%;
					    height: auto;
					    padding: 15% 10% 0% 10%;
					}
					.centercontent{
						display: table-cell;
    					vertical-align: middle;
    					text-align: right;
    					@include media($mobile-slg){
							text-align: center;
						}
    					h2 {
    						text-transform: capitalize;
    						margin-top:0;
							color: #4870f5;
							font-size: 60px;
							font-weight: 400;
							margin-bottom: 0;
							letter-spacing: 0;
							@include media($milky-way-large-new){
								font-size: 55px
							}
							@include media($milky-way-large){
								font-size: 49px
							}
							@include media($desktop-xlg){
								font-size: 46px
							}
							@include media($desktop-lg-max){
								font-size: 42px
							}
							@include media($desktop-md-mid){
								font-size: 38px
							}
							@include media($mobile-slg){
								font-size: 20px;
							}
						}
						p{
							font-size: 30px;
							color: #373737;
							margin-top: 12px;
							@include media($mobile-slg){
								font-size: 14px;
    							line-height: 18px;
							}
							@include media($mobile-smd){
								font-size: 12px;
    							line-height: 16px;
							}
						}
					}
				}
				.circle{
				   	width: 45%;
				    height: 100%;
				    text-align: right;
				    float: left;
				    position: relative;
					background: #f5f7fd;
					@include media($milky-way-large){
						width: 48%;
					}
					@include media($mobile-slg){
						width: 100%;
    					height:60%;
					}
				    &:after{
				    	content:'';
				    	@include background(svg,right-shape,svg, no-repeat,right, center);
				    	width: 100%;
					    position: absolute;
					    height: 100%;
					    left: 0;
					    top: 0;
					    z-index: 200;
					    @include media($mobile-slg){
							display:none;
						}
				    }
				    img.graphic {
				    	width: 86%;
				    	border:0;
						border-radius:0;
						padding: 22% 0  0% 0;
						@include media($milky-way-large-new){
							padding: 29% 0 0% 0;
						}
						@include media($desktop-lg-max){
							padding: 19% 0 0% 0;	
							width: 80%;
						}
						@include media($desktop-md-mid){
							@include media($short-xlg){
								padding: 39% 0 0% 0;	
							}
						}
						@include media($desktop-sm-mid){
								padding: 39% 0 0% 0;
								width: 80%;
						}
						@include media($mobile-slg){
							padding-top: 32px;
						    width: 85%;
						    margin-right: -24px;
						}
						@include media($mobile-smd){
							padding-top: 16%;
							width: 95%;
						}
				    }
				}
			}
				
		}
		.page2.pp-section,.page4.pp-section{
			@include background(images,contact-us,jpg, no-repeat,center, center);
			background-color:$white;
			@include media($short-xxxlg-min){
				background-size: cover;
			}
			.contentbox {
				vertical-align: middle;
				display: table-cell;
				.middle-cont{
					@include outer-container($godzilla);
					width: 100%;
					font-size: 30px;
					@include media($milky-way-large-new){
						@include outer-container($king-ghidorah);	
					}
					@include media($desktop-xlg){
						@include outer-container($gipsy-danger);	
					}
					@include media($desktop-md){
						@include outer-container($millenniumfalcon);	
					}
					@include media($mobile-slg){
						width: 100%;
					    height: auto;
					    padding: 10% 10% 0% 10%;
					}
					.content{
						float: left;
						width: 57%;
						@include media($milky-way-large-new){
							width: 50%;
						}
						@include media($mobile-slg){
							width: 63%;
						}
						h2{
							color: $mailcolor;
							@include font-size(67);
							text-align: left;							    
    						font-weight: 400;
    						letter-spacing: 0;
    						margin-bottom: 19px;
    						@include media($milky-way-large-new){
								@include font-size(60);
							}
							@include media($desktop-xlg){
								@include font-size(48);
							}
							@include media($desktop-md){
								@include font-size(34);
							}
							@include media($mobile-slg){
								@include font-size(24);
							}
							@include media($mobile-smd){
								@include font-size(19);
							}
						}
						p{
							@include media($desktop-xlg){
								@include font-size(21);
								line-height: 24px;
							}
							@include media($desktop-md){
								@include font-size(19);
								line-height: 22px;
							}
							@include media($mobile-slg){
								@include font-size(13);
								line-height: 14px;
							}
							@include media($mobile-smd){
								@include font-size(11);
								line-height: 13px;
							}
						}
						.box{
							margin-top: 55px;
							padding-left: 70px;
						    box-sizing: border-box;						    
						    font-size: 20px;
						    @include media($desktop-xlg){
								@include font-size(18);
								margin-top:22px;
							}
							@include media($mobile-slg){
								@include font-size(13);
								margin-top:0px;
								padding-left: 0px;
							}
							p{
								@include media($desktop-xlg){
									@include font-size(18);
								}
								@include media($desktop-md){
									@include font-size(16);
									line-height: 19px;
								}
								@include media($mobile-slg){
									@include font-size(13);
									line-height: 14px;
								}
							}
						}
					}
					img.graphic{
						float: right;
						@include media($milky-way-large-new){
							width: 45%;
						}
						@include media($desktop-lg-max){
							width: 40%;
						}
						@include media($mobile-slg){
							width: 30%;
						}
					}
				}
			}
			.largetxt {
				margin-top: 26px;
				@extend %txtbtn;
				display: block;
				color: $dark-blue;
				text-align: center;
				@include media($desktop-mds){
					@include font-size(16);
				}
				@include media($desktop-lg-large){
					margin-top: 20px;
					font-size: 21px;
					display: block;
				}
				@include media($mobile-slg){
					font-size: 21px;
					margin-top: 10px;
				}
				@include media($mobile-smd){
					font-size: 14px;
					margin-top: 5px;
				}
			}
		}
		.page3.pp-section {
			background-color:$white;
			&:before{
				@include background(images,left-arrow_up,png, no-repeat,center, center);
				content:'';
				@include size(351px, 143px);
				@include position(absolute,$top:180px, $left:0 );
				@include media($milky-way-large){
				    left: -55px;
				}
				@include media($desktop-lg-large) {
					@include size(186px, null);
					background-position: center right;
				}
				@include media($mobile-lg){
					display:none;
				}
				@include media($desktop-mds){
					left: -6%;
				}
			}
			.contentbox {
				vertical-align: middle;
				display: table-cell;
				.middle-cont{
					@include outer-container($kaiju);
					width: 100%;
					@include media($milky-way-large-new){
						@include outer-container($king-ghidorah);	
					}
					@include media($desktop-xlg){
						@include outer-container($gipsy-danger);	
					}
					@include media($desktop-md){
						@include outer-container($millenniumfalcon);	
					}
					@include media($mobile-slg){
						width: 100%;
					    height: auto;
					    padding: 0% 10% 0% 10%;
					}
					.client-logo{
						text-align: center;
						h2{
							color: $mailcolor;
							@include font-size(65);
							
    						font-weight: 400;
    						letter-spacing: 0;
    						margin-top: 0px;
    						@include media($desktop-xlg){
								@include font-size(50);
							}
							@include media($desktop-md){
								@include font-size(38);
							}
							@include media($mobile-slg){
								@include font-size(23);
							}
						}
						ul{
							list-style: none;
							margin-top: 100px;
							@include media($milky-way-large-new){
								margin-top: 70px;
							}
							@include media($desktop-md){
								margin-top: 40px;
							}
							@include media($mobile-slg){
								margin-top: 10px;
							}
							li{
								display: inline-block;
    							padding: 0 1%;
    							margin-top: 17px;
    							@include media($milky-way-large-new){
									width: 19%;
								}
								@include media($mobile-slg){
									width: 28%;
								}
								a{
									list-style: none;
									img{
										list-style: none;
									}
								}
								&:nth-child(-n+5) {
									margin-top: 0;
								}
							}
						}
					}
				}
			}
		}
		.page4.pp-section{
			@include background(images,bg2,jpg, no-repeat,center, center);
			@include media($short-xxxlg-min){
				background-size: cover;
			}
			&:before{
				@include background(images,left-arrow_d,png, no-repeat,center, center);
				content:'';
				@include size(462px, 122px);
				@include position(absolute,$bottom:10px, $left:0 );
				@include media($milky-way-large){
				    left: -55px;
				}
				@include media($desktop-lg-large) {
					@include size(186px, null);
					background-position: center right;
				}
				@include media($mobile-lg){
					display:none;
				}
				@include media($desktop-mds){
					left: -6%;
				}
			}
			h2{
				color: $mailcolor;
				@include font-size(76);
				text-align: left;							    
				font-weight: 400;
				letter-spacing: 0;
				margin-bottom: 47px;
				@include media($milky-way-large-new){
					@include font-size(60);
					margin-bottom: 20px;
				}
				@include media($desktop-xlg){
					@include font-size(50);
					margin-bottom: 20px;
				}
				@include media($desktop-lg-max){
					@include font-size(45);
					margin-bottom: 10px;
				}
				@include media($desktop-md){
					@include font-size(38);
					margin-bottom: 10px;
				}
				@include media($mobile-slg){
					@include font-size(21);
					margin-bottom: 0px;
				}
				@include media($mobile-smd){
					@include font-size(19);
				}
			}
			.contentbox{
				.middle-cont{
					.content{
						margin-top: 36px;
						width: 65%;
						@include media($desktop-xlg){
							width: 50%;
						}
						@include media($desktop-lg-max){
							margin-top: 5px;
						}
						@include media($mobile-slg){
							width: 65%;
							margin-top: 0px;
						}
						p{
							@include font-size(21);	
							line-height: 27px;	
							@include media($milky-way-large-new){
								@include font-size(20);	
								line-height: 25px;	
							}
							@include media($desktop-xlg){
								@include font-size(17);
								line-height: 21px;
							}
							@include media($desktop-lg-max){
								@include font-size(16);
								line-height: 20px;
							}
							@include media($desktop-md){
								@include font-size(14);
								line-height: 17px;
							}
							@include media($mobile-slg){
								@include font-size(11);
								line-height: 13px;
							}
							@include media($mobile-smd){
								@include font-size(11);
								line-height: 13px;
							}
							&:nth-child(4n),&:nth-child(3n){
								@include media($mobile-smd){
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.page5.pp-section{
			@include background(images,bg4,jpg, no-repeat,center, center);
			@include media($short-xxxlg-min){
				background-size: cover;
			}
			@include media($mobile-md){
				@include padding(50px 10% 50px 10%);
			}
			.contentbox {
				@include outer-container($king-ghidorah);
				@include size(100%, 100%);
				@include margin( 0px null null null );
				@include media($desktop-lg-large){
					@include outer-container($gipsy-danger);
				}
				@include media($desktop-lg-max){
					@include outer-container($clover);
				}
				@include media($short-xxlg22){
					padding:0;
				}
				@include media($desktop-md-mid){
					@include outer-container($voltron);
				}
				@include media($desktop-mds){
					@include outer-container($megatron);
				}
				@include media($mobile-lg){
					@include outer-container($optimus-prime);
				}
				section{
					vertical-align: middle;
					display: table-cell;
				}
				@include media($mobile-slg){
					@include outer-container($xenomorph);
				}
				@include media($mobile-md){
					max-width:100%;
					padding:0;
				}
				.testimonials {
					@extend %testimonials;
				}
			}	
		}
		.page6.pp-section{
			@extend %appointment;
		}
	}
}

