%footer {
	@include background(images,footer,jpg, no-repeat,center, center);
	.contentbox {
		@include outer-container($king-ghidorah);
		@include size(100%, 100%);
		@include margin( 0px null null null );
		.copyright{
			vertical-align: middle;
			display: table-cell;
			h3{
				@include font-size(76);
				line-height:rem(110);
				font-family:$main-font;
				font-weight: normal;
				letter-spacing: 0px;
				margin-bottom: 0;
				margin-top: rem(0);	
				color:$mailcolor;
			}
			span{
				font-family:$main-font;
				font-weight: normal;
				margin-bottom: 0;
				@include font-size(30);
				margin-top: rem(18);	
			}
			a{	
				display: inline-block;
				margin-top: rem(100);	
				@extend %btnsmall;
			}
		}
	}	
}


footer {
	@include size(100%,auto);	
	@include position(absolute, $bottom: rem(63));
	section {
		max-width: 965px;
		@include size(100%,auto);	
		color: #4870f5;
		margin: 0 auto;
		font-size: 13px;
	}
	.copyright {
		float: left;
	}
	.footernav {
		float: right;
	a {
		text-decoration: none;
		color: #4870f5;
	}
	}
}

.chatus {
  position: absolute;
  right: 0;
  background: white;
  border-radius: 50px 0 0 50px;
  box-shadow: -7px 0px 6px #ccc;
  padding: 8px;
  line-height: 28px;
  
  font-size: 17px;
  margin-top: -19px;
  color: #333333;
  padding-right: 33px;
  transition-property: box-shadow;
  &:hover {
    box-shadow: -7px 0px 6px #4870f5;
  }
  &:before {
    content: '';
    width: 27px;
    background: url(../images/chaticon.png) no-repeat;
    height: 28px;
    float: left;
    margin-top: -1px;
    margin-right: 6px;
  }
}