footer {
	@include size(100%,auto);	
	@include position(absolute, $bottom: rem(63));
	section {
		max-width: 965px;
		@include size(100%,auto);	
		color: #4870f5;
		margin: 0 auto;
		font-size: 13px;
	}
	.copyright {
		float: left;
	}
	.footernav {
		float: right;
	a {
		text-decoration: none;
		color: #4870f5;
	}
	}
}

.chatus {
  position: absolute;
  right: 0;
  background: white;
  padding: 8px;
  line-height: 28px;
  border-radius: 50px 0 0 50px;
  box-shadow: -7px 0px 6px #ccc;
  font-size: 17px;
  margin-top: -19px;
  color: #333333;
  padding-right: 33px;
  transition-property: box-shadow;
  &:hover {
    box-shadow: -7px 0px 6px #4870f5;
  }
  &:before {
    content: '';
    width: 27px;
    background: url(../images/chaticon.png) no-repeat;
    height: 28px;
    float: left;
    margin-top: -1px;
    margin-right: 6px;
  }
}