header {
	@include size(100%,auto);
	@include position(absolute);
	@include padding(63px);
	.logo {
		float: left;
	}
}

nav {
  float: right;
  margin-top: -6px;
  .getdemo {
    float: left;
    @extend %btnlarge;
	z-index: -1;
    position: relative;
  }
  .hamburger {    
	float: right;
    padding: 19px 16px 16px 17px;
    border-radius: 100%;
    margin-left: 11px;
    margin-right: 11px;
	&.is-active{
		background:$mailcolor;
		color:$white;
		.hamburger-inner {
			&:after, &:before {
				background-color: $white;
			}
		}
	}
  }
  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 30px;
  }
  .hamburger-inner {
    width: 33px;
    height: 6px;
    background-color: $mailcolor;
    &:after, &:before {
      width: 33px;
      height: 6px;
      background-color: $mailcolor;
    }
  }
  .hamburger--spring .hamburger-inner {
    &:before {
      top: 12px;
    }
    &:after {
      top: 24px;
    }
  } 
}

.hamburgerbox{
		@include size(100%,100%);
		background:$white;
		@include position(absolute, $left: 0, $top: 0);
	.section{
		@include size(100%,100%);
		@include background(images,menuright,jpg, no-repeat,right, bottom);
		.boximg{
			width: 70%;
			float: left;
			padding: 15% 0px 0 11%;
			img {
			}
		}
		.navbar {
			width: 30%;
			float: left;
			padding: 14% 11% 0 0;
			text-align: right;
			font-family:$main-font;
			font-size: rem(42);
			ul {
				display:inline-block;
				li {
					list-style:none;
					margin-bottom:rem(60);
					
					a{	
						color:$mailcolor;
						text-transform: uppercase;
					}
					&.downloadbtn{
						margin-top:rem(120);
						@extend %btnlarge;
						a{
							color:$white;
						}
					}
				}
			}
		}
	}
  }
