#wrapper {
	padding: rem(63);
}

.logo {
	float: left;
}

.sidebox {
	position: absolute;
	left: 60px;
	top: 50%;
	margin-top: -110px;
}

.sidebox ul {
	list-style: none;
}

.sidebox ul li {
	margin-bottom: 13px;
}

.sidebox ul li a {
	background: #d5d5d5;
	padding: 8px;
	display: block;
	border-radius: 50%;
}

.sidebox ul li:hover a,.sidebox ul li.selected a {
	background: #3a65f4;
}

.sidebox ul li a img {
	width: 15px;
}

nav {
	float: right;
	margin-top: -6px;
}

nav .getdemo {
	float: left;
	color: #fff;
	background: #4870f5;
	text-decoration: none;
	padding: 21px 29px;
	font-size: 21px;
	border-radius: 23px;
	margin-top: 0px;
	letter-spacing: 2.75px;
	font-weight: 600;
	transition-property: background;
}


nav .getdemo:hover {
	background: #303030;
	
}

nav .hamburger {
	float: right;
    padding: 18px 28px
}

nav .hamburger-box {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 30px;
}
nav .hamburger-inner,nav .hamburger-inner:after,nav .hamburger-inner:before {
    width: 33px;
    height: 6px;
    background-color: #4870f5;
}

nav .hamburger--spring .hamburger-inner:before {
    top: 12px;
}

nav .hamburger--spring .hamburger-inner:after {
    top: 24px;
}